{% extends 'base.html' %}
{% block title %}Free PDF Converter{% endblock title %}

{% block body %}


<div class="alert alert-primary" role="alert">
    Welcome to PDFClub
</div>

{% for i in tools %}
<div class="container card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <p class="card-text">{{i.description}}</p>
        <a href="/{{i.link}}" class="btn btn-primary">Visit Now</a>
      </div>
  </div>

{% endfor %}


  


{% endblock body %}